@import "tailwindcss";
body { font-family: Inter, Arial, sans-serif; margin:0; background:#f8fafc; }
input, select, button { font-family: inherit; }

@media print {
  @page {
    margin: 0;
  }
  body {
    margin: 1cm;
  }
}
